.container {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    margin: 1rem;
    margin-left: 0rem;
    padding: 0.5rem;
    background: rgb(248, 246, 246);
    border-radius: 10px;
    border: 2px solid black;
    transition: transform .2s; /* Animation */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container:hover { 
    transform: scale(1.2);
}

.heading {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.label {
    
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
}

.input {
    background: rgb(222, 234, 238);
    font-size: 11px;
    display: flex;
    margin-left: 0.6rem;
    height: auto;
    width: 4rem;
    border-radius: 3px;
}
.select {
    background: rgb(222, 234, 238);
    font-size: 11px;
    display: flex;
    margin-left: 0.6rem;
    height: auto;
    width: 4rem;
    border-radius: 3px;
}