.container {
    display: flex;
    flex-direction: column;
}
.statecontainer {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 8rem;
    background-color: antiquewhite;
    border-radius: 5%;
    margin-left: 3rem;
    padding-left: 1rem;
}