.container {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}
.heading {
    display: flex;
    height: 5rem;
    width: 60%;
    background-color: antiquewhite;
    text-align: center;
    align-self: center;
    font-size: 16px;
    margin-left: 15%;
    padding-top: 2rem;
    padding-left: 1rem;
    border-radius: 5px;
    box-shadow: inset 2rem;
}
.statecontainer {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 10rem;
    background-color: antiquewhite;
    border-radius: 5%;
    margin-top: 3rem;
    margin-left: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}